.App {
    text-align: center;
}


/* InfomationUser */

.avatar {
    border: 1px #d4d4d4 solid;
    padding: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.nameUser {
    text-decoration: none;
    margin-bottom: 10px;
}

.likebuton {
    padding-left: 20px;
}